body {
    margin: 0px;
}
.header {
    position: relative;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    height: 75px;
}
nav { 
    margin-left: 100px;
}
nav a {
    color: ghostwhite;
    margin-right: 10px;
    text-decoration: none;
}
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
header .mobile-menu {
    position: absolute;
    left: 33px;
    z-index: 500;
    width: 40px;
    height: 40px;
    outline: none;
}
header .mobile-menu span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 2px;
    margin: -2px 0 0 -13px;
    background-color: #fff;
    text-indent: -999em;
}
header .mobile-menu:before,
header .mobile-menu:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 2px;
    margin-left: -13px;
    background-color: #fff;
}
header .mobile-menu:before {
    margin-top: -9px;
}
header .mobile-menu:after {
    margin-top: 5px;
}
header .mobile-menu.on {
    position: fixed;
}
header .mobile-menu.on span {
    display: none;
}
header .mobile-menu.on:before,
header .mobile-menu.on:after {
    margin-top: -2px;
}
header .mobile-menu.on:before {
    transform: rotate(-45deg);
}
header .mobile-menu.on:after {
    transform: rotate(45deg);
}
header .menu.on {
    left: 0;
    color: wheat;
}
header .menu {
    position: fixed;
    top: 50px;
    left: -348px;
    z-index: 400;
    width: 348px;
    height: 100%;
    padding: 94px 40px 189px;
    background-color: #000;
    box-sizing: border-box;
    transition: left .5s ease-in-out;
}
button:focus {
    outline: auto;
}

p {
    margin-left: 10px;
}

.titleHeader {
    position: relative;
    overflow: hidden;
    max-width: 1080px;
    margin: 0 auto 30px;
 //   padding: 57px 0 15px;
    border-bottom: 1px solid #ebebeb;
}

#dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.43);
}

/* Media Screen - Mobie */
@media screen and (max-width:767px) {
    #eader .mobile-menu {
        top: 10px;
        left: 11px;
    }
    header .menu {
        padding: 84px 20px 189px;
    }
}
