<!DOCTYPE>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.all.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src=" https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/dark-hive/jquery-ui.css">
    
    <script type="text/javascript">
    console.log('RxJS included?', !!Rx);
    var menu = [
        {                
            title : "naver", visible:true, link:"https://blog.naver.com/skdmldl"
        },
        {                
            title : "tistory", visible:true, link:"https://pageheart.tistory.com/"
        }
    ]

    var menuSet = () => {
        menu.forEach(
            e => {
                if(e.visible) {
                    let aTag = document.createElement("a");
                    let aNode = document.createTextNode(e.title);
                    aTag.setAttribute("href","#n");
                    aTag.addEventListener('click',() => location.href = e.link);
                    aTag.appendChild(aNode);
                    document.querySelectorAll("header nav")[0].appendChild(aTag);
                }
            }
        )

        settingEvnt();
    }

    const divTag = document.createElement("div");
    divTag.id = "dimmed";

    var settingEvnt = () => {
        let mobileMenuClass = document.querySelector(".mobile-menu");
        let menuClass = document.querySelector(".menu");
        let body = document.querySelector("body");
        mobileMenuClass.onclick = () => {
            mobileMenuClass.classList.forEach(
                e=> {
                    if(e == "on") {
                        body.removeChild(divTag);
                        mobileMenuClass.classList.remove(e);
                        menuClass.classList.remove(e);
                    }
                    else {
                        body.appendChild(divTag);
                        mobileMenuClass.classList.add("on");
                        menuClass.classList.add("on");
                    }
                }
            );
        }
    }
    window.addEventListener('DOMContentLoaded', ()=>menuSet());

    if(window.console!=undefined){
        setTimeout(console.log.bind(console,"%cWELCOME","font:8em Arial;color:#EC6521;font-weight:bold"),0);
        setTimeout(console.log.bind(console,"%cpageheart.github.io","font:2em sans-serif;color:#333;"),0);
    }
      
    function fetchUser() {
      var url = './json/userInfo';
      return fetch(url).then(function(response) {
        return response.json();
      });
    }

    async function setUser() {
      try {
        var user = await fetchUser();
        console.log(user);
        $("#item").tmpl(user).appendTo("#test");
      } catch (error) {
        console.log(error);
      }
    }

    $(document).ready(function() {
      setUser();
    });

    </script>
    <script language="javascript" src="./js/toast.js"></script>
  </head>
  <body>
    <div class="header">
        <header>
            <button type="button" class="mobile-menu"><span>메뉴</span></button>
            <nav></nav>
            <div class="menu">
                방문해주셔서 감사합니다. 'ㅡ'/
            </div>
        </header>
    </div>
    <div id="banner" style="position:absolute; left:-200px; z-index:999; display:none;">
      <div id="toast_ad">
       <table cellpadding="0" cellspacing="4" border="0" bgcolor="#000000">
        <tr>
      <td align="right" style="padding-right:2px;"><a href="javascript:saybox_messageClose()" title="닫기" style="font-size:11px;color:#FFFFFF;">X</a></td>
        </tr>
        <tr>
      <td bgcolor="#FFFFFF" align="center">
      <!-- 광고영역 -->
      이 영역은 곧 사라집니다.
      </td>
        </tr>
       </table>
      </div>
    </div>
    <div>
      <ul id="test" class="title_header nav_list">
      <script id="item" type="text/html">
        {{if show}}
          <li><em>${name}</em> (${explanation})</li>
        {{/if}}
      </script>
      </ul>
      
      <div id="app">
          {{ message }}
      </div>
      
      <div id="app-2">
        <span v-bind:title="message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
        </span>
      </div>
      
      <div id="app-3">
        <span v-if="seen">Now you see me</span>
      </div>
      
      <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>
      
      <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>
      
      <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>

      <script src="vue/index.js"></script>
      
      <ol>
        <!-- Create an instance of the todo-item component -->
        <todo-item></todo-item>
      </ol>
      
      <script src="vue/component.js"></script>
    </div>
  </body>
</html> 
